# Environments
.env
venv/
.venv/

# Python artifacts
__pycache__/
*.py[cod]
.pytest_cache/

# Tests
tests/

# Vercel Serverless
.vercel/

# IDEs and Editors
.vscode/

# OS shell artifacts
.DS_Store
Thumbs.db
Desktop.ini
