{% extends 'weton/_dhasar.html' %}
{% set page = 'dinabecik' %}
{% set page_file = 'dinabecik' %}
{% set page_api = 'weton.weton_good_day_api' %}
{% set page_data = {'default-hajat': default_hajat, 'default-start': default_start, 'default-end': default_end, 'calendar-url': url_for('weton.weton_calendar_page')} %}
{% block title %}Golek Dina Becik - Peace Oracle{% endblock %}
{% block description %}Cari hari baik untuk nikah, pindah rumah, buka usaha, atau transaksi besar. Hari pantangan disaring, sasi dan petung Pancasuda ikut dihitung.{% endblock %}
